
Exercicios/.idea/PythonExercícios.iml
Exercicios/.idea/.name
Exercicios/.idea/CursoemVideo.iml
Exercicios/.idea/inspectionProfiles/profiles_settings.xml
Exercicios/.idea/misc.xml
Exercicios/.idea/modules.xml
